<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.WPF" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Compression" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Pdf" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfPdfViewer" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfProgressBar" version="18.1.0.43" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfRangeSlider" version="18.1.0.43" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.5.0.617" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.5.0.617" targetFramework="net472" />
</packages>